*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ---  PAbout.css  --- */
/* 1 - PTS First */
#PTS_first {
  border: 0px solid transparent;
  padding: 1em 2em;
  color: #001400;
}
#PTS_first_Box {
  border: 0px solid transparent;
  padding: 2em 2em;
  background-color: rgb(249, 244, 244);
  box-shadow: gray 0px 5px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#PTS_first_Box h3 {
  border: 0px solid transparent;
  padding: 0.5em 0.43em 0.3em 0.43em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
}
#PTS_first_Box h4 {
  border: 0px solid transparent;
  padding: 0.1em 0.7em;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
#pre_Box_Light {
  border: 0px solid transparent;
  padding: 1.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#Main_Box_Light {
  border: 0px solid transparent;
  padding: 0.1em 0.05em;
  width: 6%;
}
#Main_B_L_1 {
  border: 0px solid transparent;
  padding: 0.2em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Box_Light {
  border: 0.1px solid rgb(194, 193, 193);
  padding: 1.1em 1.1em;
  width: 95%;
  border-radius: 50%;
}
#Box_Light img {
  border: 0px solid transparent;
  width: 95%;
}
#Main_B_L_1 p {
  border: 0px solid transparent;
  padding: 0em 0.2em 0em 0.2em;
  margin: 0.5em 0em 0.1em 0em;
  color: #001400;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}
#Main_Box_Light_L {
  border: 0px solid transparent;
  padding: 0.4em 0.05em 4em 0.05em;
  width: 4%;
}
#F_Main_B_L_2 {
  border: 0px solid transparent;
  padding: 1.75em 0.1em;
}
#Main_B_L_2 {
  border: 0px solid transparent;
  padding: 0.15em 0.2em;
  background-color: black;
}
/* 2 - PT_Button */
#PT_Button {
  border: 0px solid transparent;
  padding: 2em 1em;
  background-color: rgb(249, 244, 244);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#PT_Button h3 {
  border: 0px solid transparent;
  padding: 1em 1em 0.2em 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
}
#sub_PT_Button {
  border: 0px solid transparent;
  padding: 0.3em 0.3em;
}
#PT_Button_Box_1 {
  border: 0px solid transparent;
  padding: 0.3em 0.3em;
  margin: 1em 0em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#PT_Butt_1 {
  border: 0px solid transparent;
  padding: 0.3em 0.3em;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#PT_Button_1_P1 {
  border: 0px solid transparent;
  padding: 0.9em 1em;
  width: 45%;
  font-size: 1.05em;
  letter-spacing: 0.4px;
}
#PT_Button_1_P2 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  width: 55%;
}
#PT_Button_1_P2 button {
  border: 0px solid transparent;
  background-color: #001400;
  padding: 0.6em 1em;
  color: white;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  /* text-transform: uppercase; */
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
}
#PT_Button_1_P2 button:hover {
  border: 0.1px solid transparent;
  background-color: #074707;
  color: white;
}
#PT_Button_1_P2 button:focus {
  outline: none;
  background: linear-gradient(to right, orange, orange);
  color: black;
}
/* 2 - PTS_Pre */
#PTS_Pre {
  border: 0.1px solid black;
  padding: 2em 2em;
}
#sub_PTS_Pre {
  border: 0.1px solid black;
  padding: 2em 1em;
}
#PTS_Pre_Box {
  border: 0.1px solid black;
  padding: 1em 1em;
}
#PTS_Pre_Box h2 {
  border: 0.1px solid black;
  padding: 0.5em 0.4em;
  color: #001400;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 1px;
}
#PTS_Pre_Box h2 i{
  border: 0.1px solid black;
  padding: 0.3em 0.5em;
  color: #001400;
  font-size: 1.1em;
}
#PTS_Pre_Box_Detail {
  border: 0.1px solid black;
  padding: 1em 0.7em;
}
#PTS_Pre_Box_Detail_Box {
  border: 0.1px solid black;
  padding: 0.05em 0.1em;
  background-color: rgb(247, 208, 135);
  width: 60%;
  margin: 0.05em 0em;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#PTS_Pre_Box_Detail_Box_L {
  border: 0.1px solid black;
  padding: 0.1em 0.1em;
  background-color: rgb(230, 225, 225);
  width: 60%;
  margin: 0.05em 0em;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#PTS_Pre_Box_Detail_Box_P1{
  border-radius: 10px;
  border: 0.1px solid black;
  padding: 0.3em 0.7em;
  width: 30%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
#PTS_Pre_Box_Detail_Box_P2{
  border-radius: 10px;
  border: 0.1px solid black;
  padding: 0.3em 3em;
  width: 80%;
  text-transform:capitalize;
  /* font-weight: bold; */
  letter-spacing: 2px;
}
/* -------------------------------- */
/* Media Queries In CSS */
/* -------------------------------- */
/* 1 */
@media screen and (min-width: 1px) and (max-width: 1400px) {
  /* 1 - PTS First */
  #PTS_first {
    padding: 1em 2em;
  }
  #PTS_first_Box {
    padding: 1.5em 2em;
  }
  #PTS_first_Box h3 {
    padding: 0.4em 0.5em;
    letter-spacing: 0.5px;
    font-size: 1.7em;
  }
  #PTS_first_Box h4 {
    padding: 0.2em 0.75em;
    font-size: 1.1em;
    letter-spacing: 0.8px;
  }
  #pre_Box_Light {
    padding: 1.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Main_Box_Light {
    padding: 0.1em 0.05em;
    width: 7%;
  }
  #Main_B_L_1 {
    padding: 0.2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Box_Light {
    padding: 1.1em 1.1em;
    width: 95%;
  }
  #Box_Light img {
    width: 95%;
  }
  #Main_B_L_1 p {
    padding: 0em 0.2em 0em 0.2em;
    margin: 0.3em 0em 0.1em 0em;
    font-size: 1.6em;
  }
  #Main_Box_Light_L {
    padding: 0.4em 0.05em 4em 0.05em;
    width: 4%;
  }
  #F_Main_B_L_2 {
    padding: 1.75em 0.1em;
  }
  #Main_B_L_2 {
    padding: 0.1em 0.2em;
  }
  /* 2 - PT_Button */
  #PT_Button {
    padding: 1em 1em;
  }
  #PT_Button h3 {
    padding: 0.5em 1em 0.2em 1em;
  }
  #sub_PT_Button {
    padding: 0.3em 0.3em;
  }
  #PT_Button_Box_1 {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #PT_Butt_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #PT_Button_1_P1 {
    padding: 0.9em 1em;
    width: 45%;
    font-size: 0.92em;
    letter-spacing: 0.3px;
  }
  #PT_Button_1_P2 {
    padding: 0.5em 1em;
    width: 55%;
  }
  #PT_Button_1_P2 button {
    padding: 0.58em 1em;
    width: 100%;
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }
  /* - */
}
/* 2 */
@media screen and (min-width: 1px) and (max-width: 1200px) {
  /* 1 - PTS First */
  #PTS_first {
    padding: 1em 1em;
  }
  #PTS_first_Box {
    padding: 1.3em 2em;
  }
  #PTS_first_Box h3 {
    padding: 0.4em 0.5em 0.2em 0.5em;
    letter-spacing: 1px;
    font-size: 1.5em;
  }
  #PTS_first_Box h4 {
    padding: 0.1em 0.75em;
    font-size: 1.05em;
    letter-spacing: 0.8px;
  }
  #pre_Box_Light {
    padding: 1.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Main_Box_Light {
    padding: 0.1em 0.05em;
    width: 8%;
  }
  #Main_B_L_1 {
    padding: 0.2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Box_Light {
    padding: 0.9em 0.9em;
    width: 95%;
  }
  #Box_Light img {
    width: 95%;
  }
  #Main_B_L_1 p {
    padding: 0em 0.2em 0em 0.2em;
    margin: 0.3em 0em 0.1em 0em;
    font-size: 1.3em;
  }
  #Main_Box_Light_L {
    padding: 1.8em 0.05em 4em 0.05em;
    width: 4.5%;
  }
  #F_Main_B_L_2 {
    padding: 1em 0.1em;
  }
  #Main_B_L_2 {
    padding: 0.1em 0.2em;
  }
  /* 2 - PT_Button */
  #PT_Button {
    padding: 1em 1em;
  }
  #PT_Button h3 {
    padding: 0.7em 1em 0.2em 1em;
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  #sub_PT_Button {
    padding: 0.3em 0.3em;
  }
  #PT_Button_Box_1 {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #PT_Butt_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #PT_Button_1_P1 {
    padding: 0.9em 1em;
    width: 50%;
    font-size: 0.87em;
    letter-spacing: 0px;
  }
  #PT_Button_1_P2 {
    padding: 0.5em 1em;
    width: 50%;
  }
  #PT_Button_1_P2 button {
    padding: 0.58em 1em;
    width: 100%;
    font-size: 0.7em;
    letter-spacing: 0.5px;
  }
  /* - */
}
/* 3 */
@media screen and (min-width: 1px) and (max-width: 1000px) {
  /* 1 - PTS First */
  #PTS_first {
    padding: 1em 1em;
  }
  #PTS_first_Box {
    padding: 1.3em 2em;
  }
  #PTS_first_Box h3 {
    padding: 0.5em 0.5em 0.3em 0.5em;
    letter-spacing: 1px;
    font-size: 1.4em;
  }
  #PTS_first_Box h4 {
    padding: 0.2em 0.75em;
    font-size: 1.05em;
    letter-spacing: 0.8px;
  }
  #pre_Box_Light {
    padding: 1.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Main_Box_Light {
    padding: 0.1em 0.05em;
    width: 9%;
  }
  #Main_B_L_1 {
    padding: 0.2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Box_Light {
    padding: 0.7em 0.7em;
    width: 95%;
  }
  #Box_Light img {
    width: 100%;
  }
  #Main_B_L_1 p {
    padding: 0em 0.2em 0em 0.2em;
    margin: 0.3em 0em 0.1em 0em;
    font-size: 1.3em;
  }
  #Main_Box_Light_L {
    padding: 1.8em 0.05em 4em 0.05em;
    width: 4.5%;
  }
  #F_Main_B_L_2 {
    padding: 1em 0.1em;
  }
  #Main_B_L_2 {
    padding: 0.15em 0.2em;
  }
  /* 2 - PT_Button */
  #PT_Button {
    padding: 1em 1em;
  }
  #PT_Button h3 {
    padding: 0.5em 1em 0.2em 1em;
    font-size: 1.4em;
    letter-spacing: 1px;
  }
  #sub_PT_Button {
    padding: 0.3em 0.3em;
  }
  #PT_Button_Box_1 {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #PT_Butt_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #PT_Button_1_P1 {
    padding: 0.9em 1em;
    width: 50%;
    font-size: 0.95em;
    letter-spacing: 0px;
  }
  #PT_Button_1_P2 {
    padding: 0.5em 1em;
    width: 50%;
  }
  #PT_Button_1_P2 button {
    padding: 0.58em 1em;
    width: 100%;
    font-size: 0.8em;
    letter-spacing: 0.5px;
  }
  /* - */
}
/* 4 */
@media screen and (min-width: 1px) and (max-width: 800px) {
  /* 1 - PTS First */
  #PTS_first {
    padding: 0.3em 0.3em;
  }
  #PTS_first_Box {
    padding: 1.2em 0.3em;
  }
  #PTS_first_Box h3 {
    padding: 0.3em 1.5em;
    letter-spacing: 1px;
    font-size: 1.2em;
  }
  #PTS_first_Box h4 {
    padding: 0.1em 2em;
    font-size: 1em;
    letter-spacing: 0.8px;
  }
  #pre_Box_Light {
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns: repeat(8, 0.11fr);
    place-items: center;
  }
  #Main_Box_Light {
    padding: 0.1em 0.05em;
    width: 120%;
    margin: 0.5em 0em;
  }
  #Main_B_L_1 {
    padding: 0.2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Box_Light {
    padding: 0.8em 0.8em;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Box_Light img {
    width: 90%;
  }
  #Main_B_L_1 p {
    padding: 0em 0.2em 0em 0.2em;
    margin: 0.4em 0em 0.1em 0em;
    font-size: 1.1em;
  }
  #Main_Box_Light_L {
    padding: 1.8em 0.05em 4em 0.05em;
    width: 60%;
  }
  #F_Main_B_L_2 {
    padding: 1em 0.1em;
  }
  #Main_B_L_2 {
    padding: 0.15em 0.2em;
  }
  /* 2 - PT_Button */
  #PT_Button {
    padding: 1em 1em;
  }
  #PT_Button h3 {
    padding: 0.7em 1em 0.2em 1em;
    font-size: 1.2em;
  }
  #sub_PT_Button {
    padding: 0.3em 0.2em;
  }
  #PT_Button_Box_1 {
    padding: 0.3em 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #PT_Butt_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #PT_Button_1_P1 {
    padding: 0.9em 1em;
    width: 50%;
    font-size: 0.8em;
    letter-spacing: 0px;
  }
  #PT_Button_1_P2 {
    padding: 0.5em 0.1em;
    width: 50%;
  }
  #PT_Button_1_P2 button {
    padding: 0.58em 1em;
    width: 100%;
    font-size: 0.7em;
    letter-spacing: 0.5px;
  }
  /* - */
}
/* 5 */
@media screen and (min-width: 1px) and (max-width: 600px) {
  /* 1 - PTS First */
  #PTS_first {
    padding: 0.1em 0.1em;
  }
  #PTS_first_Box {
    padding: 1.5em 0.3em;
  }
  #PTS_first_Box h3 {
    padding: 0.2em 0.7em;
    letter-spacing: 0.5px;
    font-size: 1.3em;
    text-align: center;
  }
  #PTS_first_Box h4 {
    text-align: center;
    padding: 0em 1em;
    font-size: 0.9em;
    letter-spacing: 0.8px;
  }
  #pre_Box_Light {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: column;
  }
  #Main_Box_Light {
    padding: 0.1em 0.05em;
    width: 19%;
    margin: 0em 0em;
  }
  #Main_B_L_1 {
    padding: 0.2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Box_Light {
    padding: 0.8em 0.8em;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Box_Light img {
    width: 85%;
  }
  #Main_B_L_1 p {
    display: none;
  }
  #Main_Box_Light_L {
    padding: 0.1em 0.05em 0.1em 0.05em;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #F_Main_B_L_2 {
    padding: 0.1em 0.1em;
  }
  #Main_B_L_2 {
    padding: 0em 0.2em;
    width: 1%;
    height: 3vh;
  }
  /* 2 - PT_Button */
  #PT_Button {
    padding: 1.5em 1em;
  }
  #PT_Button h3 {
    padding: 1em 1em 1em 1em;
    font-size: 1.3em;
    text-align: center;
  }
  #sub_PT_Button {
    padding: 0.3em 0.2em;
  }
  #PT_Button_Box_1 {
    padding: 0.3em 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #PT_Butt_1 {
    padding: 0.3em 0.3em;
    width: 100%;
  }
  #PT_Button_1_P1 {
    padding: 0.9em 1em;
    width: 50%;
    font-size: 0.8em;
    letter-spacing: 0px;
  }
  #PT_Button_1_P2 {
    padding: 0.5em 0.1em;
    width: 50%;
  }
  #PT_Button_1_P2 button {
    padding: 0.58em 1em;
    width: 100%;
    font-size: 0.7em;
    letter-spacing: 0.5px;
  }
  /* - */
}
/* 6 */
@media screen and (min-width: 1px) and (max-width: 400px) {
  /* 1 - PTS First */
  #PTS_first {
    padding: 0.1em 0.1em;
  }
  #PTS_first_Box {
    padding: 1.6em 0.3em;
  }
  #PTS_first_Box h3 {
    padding: 0.1em 0.7em;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    text-align: center;
  }
  #PTS_first_Box h4 {
    text-align: center;
    padding: 0.2em 1em;
    font-size: 0.9em;
    letter-spacing: 0.8px;
  }
  #pre_Box_Light {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: column;
  }
  #Main_Box_Light {
    padding: 0.1em 0.05em;
    width: 28%;
    margin: 0em 0em;
  }
  #Main_B_L_1 {
    padding: 0.2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Box_Light {
    padding: 0.8em 0.8em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Box_Light img {
    width: 90%;
  }
  #Main_B_L_1 p {
    display: none;
  }
  #Main_Box_Light_L {
    padding: 0em 0.05em 0em 0.05em;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #F_Main_B_L_2 {
    padding: 0em 0.1em;
  }
  #Main_B_L_2 {
    padding: 0em 0.2em;
    width: 1%;
    height: 2vh;
  }
  /* 2 - PT_Button */
  #PT_Button {
    padding: 1.5em 1em;
  }
  #PT_Button h3 {
    padding: 1em 0em 0.2em 0em;
    font-size: 1.3em;
    text-align: center;
  }
  #sub_PT_Button {
    padding: 0.3em 0em;
  }
  #PT_Button_Box_1 {
    padding: 0.3em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #PT_Butt_1 {
    padding: 0.3em 0em;
    width: 100%;
    display: flex;
    margin: 0.5em 0em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #PT_Button_1_P1 {
    padding: 0.9em 0em;
    width: 100%;
    font-size: 0.8em;
    letter-spacing: 0px;
    text-align: center;
  }
  #PT_Button_1_P2 {
    padding: 0.5em 0.1em;
    width: 100%;
  }
  #PT_Button_1_P2 button {
    padding: 0.58em 0.5em;
    width: 100%;
    font-size: 0.7em;
    letter-spacing: 0.5px;
  }
  /* - */
}
/* ----------------------------- */
/* Z_Test.js */
/* ----------------------------- */
#Z_box {
  border: 0.1px solid black;
  padding: 1.2em 1.2em;
  width: 6%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#Z_box img {
  /* border: 0.1px solid black; */
  width: 85%;
}
/* ----------------------------- */
