* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* 1 - PSidebar.js */
.mycontainer {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #001400;
  color: #fff;
  /* height: 100vh; */
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 40px 15px;
}
.logo {
  font-size: 30px;
}
.logo img {
  width: 100%;
  height: 7vh;
}
.bars {
  display: flex;
  font-size: 20px;
  margin-left: 50px;
}
.bars:hover {
  cursor: pointer;
  color: orangered;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  border-radius: 10px;
  transition: all 0.5s;
}
.link:hover {
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
.active {
  /* background: linear-gradient(to right, orangered, #eb7405);   */
  background: #eb7405;  
  color: #000;
  margin: 0.1em 0em;
  border-radius: 10px;
}
.icon {
  font-size: 18px;
}
.link_text {
  font-size: 20px;
  padding: 0em 0em 0em 0.3em;
}
/* ----- */

/* --------------------------- */
/* Media Queries in Css */
/* --------------------------- */
/* 1 */
/* @media screen and (min-width: 1px) and (max-width: 1400px) { */
  /* 1 - .js */
  /* Start */
  /* - */
/* } */