#Z_Create {
  border: 0.1px solid transparent;
  padding: 3em 1em;
}
#Z_Create_Part_1 {
  border: 0.1px solid aqua;
  padding: 2em 1em;
  width: 40%;
  background-color: aqua;
  margin: 0em auto;
  border-radius: 20px;
}
#Z_Create_Part_1 h4 {
  text-align: center;
}
#Z_T_1_Box {
  border: 0.1px solid orange;
  background-color: orange;
  padding: 1em 2em 0.5em 2em;
  width: 35%;
  border-radius: 10px;
  margin: 1em 0em;
}
#Z_T_1_Box h1 {
  font-size: 0.9em;
}
#Z_T_1_Box img {
  border: 0.1px solid red;
  width: 25%;
  padding: 0.2em 0.2em;
  display: block;
  margin: 0em auto;
}
#Z_T_1_Box button {
  border: 0.1px solid blue;
  background-color: blue;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  color: white;
  margin: 0.5em 0.5em;
  width: 94%;
}
#Z_T_C_Box {
  border: 0.1px solid pink;
  background-color: pink;
  margin: 1em auto;
  padding: 1em 1em;
  border-radius: 10px;
}
#Z_T_C_Box h1 {
  border: 0.1px solid yellow;
  background-color: yellow;
  margin: 1em auto;
  padding: 0.3em 0.3em;
  font-size: 1em;
  text-align: center;
}
#Z_T_C_Box h5 {
  border: 0.1px solid white;
  background-color: white;
  margin: 1em auto;
  padding: 0.1em 0.3em;
  font-size: 1em;
  text-align: center;
}
#Z_T_C_Box img {
  border: 0.1px solid red;
  border-radius: 5px;
  width: 20%;
  margin: 0em auto;
  display: block;
  padding: 0.2em 0.2em;
}
#Z_T_C_Box #Row {
  border: 0.1px solid black;
  margin: 0.15em auto;
  padding: 0.1em 0.3em;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#Z_T_C_Box #Row p {
  border: 0.1px solid transparent;
  margin: 0.1em auto;
  padding: 0.2em 0.3em;
  font-size: 0.95em;
  width: 50%;
  text-align: center;
  font-weight: bold;
}
#Z_T_C_Box button {
  border: 0.1px solid blue;
  background-color: blue;
  display: block;
  margin: 2em auto 1em auto;
  padding: 0.2em 0.3em;
  font-size: 0.95em;
  width: 50%;
  letter-spacing: 3px;
  color: white;
  border-radius: 10px;
}

/* ----------------------------------- */
/* ------------------------- */
/* -- FinalChat.css -- */
/* ------------------------- */
#Final_Chat_Parent {
  border: 0px solid transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.5em;
}
#Sub_FinalChat_Parent_2 {
  border: 0.1px solid grey;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 84vh;
  border-radius: 10px;
  padding: 0.3em 0.2em 0.1em 0.2em;
  background-color: rgb(255, 242, 219);
}
#FinalChat_Input {
  width: 100%;
  border: 0.1px solid grey;
  border-radius: 5px;
  letter-spacing: 1.5px;
  color: #001400;
  font-size: 1em;
  padding: 0.4em 1em;
}
#FinalChat_Input:focus {
  outline: none;
  background-color: #eceeec;
}
#FinalChat_Input_Btn {
  background-color: blue;
  padding: 0.5em 1.1em;
  color: white;
  border-radius: 5px;
  border: 0px solid transparent;
  cursor: pointer;
  margin-left: 5px;
  letter-spacing: 1.5px;
}
#FinalChat_Input_Btn:hover {
  background-color: rgb(0, 0, 160);
  cursor: pointer;
}
#FinalChat_Input_Btn:focus {
  outline: none;
  background-color: rgb(0, 0, 160);
  cursor: pointer;
}
#Sub_FinalChat_Parent_1 {
  border: 0px solid transparent;
  width: 50%;
  padding: 2em 2em;
}
#Sub_FinalChat_P1_1 {
  border: 0px solid transparent;
  padding: 1em 1em;
}
#Sub_FinalChat_P1_1 h1 {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: bold;
  color: #001400;
}
#Sub_FinalChat_P1_2 {
  border: 0px solid transparent;
  padding: 3em 1em;
}
#Sub_FinalChat_P1_2_1 {
  border: 0px solid transparent;
  padding: 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
#S_FC_P1_2_1_Part_1 {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  width: 20%;
}
#S_FC_P1_2_1_Part_1 img {
  border: 0px solid transparent;
  display: block;
  margin: 0em auto;
  width: 70%;
}
#S_FC_P1_2_1_Part_2 {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  width: 20%;
}
#S_FC_P1_2_1_Part_2 img {
  border: 0px solid transparent;
  display: block;
  margin: 0em auto;
  width: 50%;
}
#S_FC_P1_2_1_Part_3 {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  width: 40%;
  text-align: center;
  font-size: 1.15em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#My_Message {
  font-size: 0.9em;
}
/* - E_Extra_Time_Parent - */
#E_Extra_Time_Parent {
  border: 1px solid black;
  padding: 1em 1em;
}
#sub_E_Extra_Time_Parent {
  border: 1px solid black;
  padding: 1em 1em;
}
#E_Extra_Time_Parent_Box {
  border: 1px solid black;
  padding: 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#E_Extra_Time_Parent_Box button {
  width: 20%;
  border: 0.1px solid orange;
  background-color: orange;
  color: black;
}
/* Start */
/*  */

/* ---------------------------- */
/* Media Queries In CSS */
/* ---------------------------- */
/* 1 */
@media screen and (min-width: 1px) and (max-width: 1400px) {
  /* 1 - Final_Chat_Parent */
  #Final_Chat_Parent {
    padding: 0.5em 0.5em;
  }
  #Sub_FinalChat_Parent_2 {
    width: 50%;
    height: 84vh;
    border-radius: 10px;
    padding: 0.1em 0.2em;
  }
  #FinalChat_Input {
    padding: 6.5px 15px 6.5px 10px;
    letter-spacing: 1.5px;
    font-size: 0.9em;
  }
  #FinalChat_Input_Btn {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 0.9em;
  }
  #Sub_FinalChat_Parent_1 {
    width: 50%;
    padding: 2em 2em;
  }
  #Sub_FinalChat_P1_1 {
    padding: 1em 1em;
  }
  #Sub_FinalChat_P1_1 h1 {
    padding: 0.1em 0.1em;
    font-size: 2em;
    letter-spacing: 2px;
  }
  #Sub_FinalChat_P1_2 {
    padding: 3em 1em;
  }
  #Sub_FinalChat_P1_2_1 {
    padding: 1em 1em;
  }
  #S_FC_P1_2_1_Part_1 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_1 img {
    width: 60%;
  }
  #S_FC_P1_2_1_Part_2 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_2 img {
    width: 45%;
  }
  #S_FC_P1_2_1_Part_3 {
    padding: 0.1em 0.1em;
    width: 40%;
    font-size: 1.1em;
    letter-spacing: 1.5px;
  }
  /* - */
}
/* 2 */
@media screen and (min-width: 1px) and (max-width: 1200px) {
  /* 1 - Final_Chat_Parent */
  #Final_Chat_Parent {
    padding: 0.5em 0.5em;
  }
  #Sub_FinalChat_Parent_2 {
    width: 50%;
    height: 84vh;
    border-radius: 10px;
    padding: 0.1em 0.2em;
  }
  #FinalChat_Input {
    padding: 6px 15px 6px 5px;
    letter-spacing: 1.5px;
    font-size: 0.9em;
  }
  #FinalChat_Input_Btn {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 0.9em;
  }
  #Sub_FinalChat_Parent_1 {
    width: 50%;
    padding: 1em 1em;
  }
  #Sub_FinalChat_P1_1 {
    padding: 0.5em 0.5em;
  }
  #Sub_FinalChat_P1_1 h1 {
    padding: 0.1em 0.1em;
    font-size: 1.5em;
    letter-spacing: 2px;
  }
  #Sub_FinalChat_P1_2 {
    padding: 2em 0.5em;
  }
  #Sub_FinalChat_P1_2_1 {
    padding: 0.5em 0.5em;
  }
  #S_FC_P1_2_1_Part_1 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_1 img {
    width: 60%;
  }
  #S_FC_P1_2_1_Part_2 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_2 img {
    width: 40%;
  }
  #S_FC_P1_2_1_Part_3 {
    padding: 0.1em 0.1em;
    width: 40%;
    font-size: 1em;
    letter-spacing: 1.5px;
  }
  #My_Message {
    font-size: 0.8em;
  }
  /* - */
}
/* 3 */
@media screen and (min-width: 1px) and (max-width: 1000px) {
  /* 1 - Final_Chat_Parent */
  #Final_Chat_Parent {
    padding: 0.5em 0.5em;
  }
  #Sub_FinalChat_Parent_2 {
    width: 50%;
    height: 84vh;
    border-radius: 10px;
    padding: 0.1em 0.2em;
  }
  #FinalChat_Input {
    padding: 5.7px 15px 5.7px 5px;
    letter-spacing: 1.5px;
    font-size: 0.8em;
  }
  #FinalChat_Input_Btn {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 0.8em;
  }
  #Sub_FinalChat_Parent_1 {
    width: 50%;
    padding: 0.5em 0.5em;
  }
  #Sub_FinalChat_P1_1 {
    padding: 0.5em 0.5em;
  }
  #Sub_FinalChat_P1_1 h1 {
    padding: 0.1em 0.1em;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  #Sub_FinalChat_P1_2 {
    padding: 2em 0.5em;
  }
  #Sub_FinalChat_P1_2_1 {
    padding: 0.5em 0.5em;
  }
  #S_FC_P1_2_1_Part_1 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_1 img {
    width: 80%;
  }
  #S_FC_P1_2_1_Part_2 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_2 img {
    width: 40%;
  }
  #S_FC_P1_2_1_Part_3 {
    padding: 0.1em 0.1em;
    width: 50%;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #My_Message {
    font-size: 0.75em;
  }
  /* - */
}
/* 4 */
@media screen and (min-width: 1px) and (max-width: 800px) {
  /* 1 - Final_Chat_Parent */
  #Final_Chat_Parent {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Sub_FinalChat_Parent_2 {
    width: 100%;
    height: 84vh;
    border-radius: 10px;
    padding: 0.1em 0.2em;
  }
  #FinalChat_Input {
    padding: 5.7px 15px 5.7px 5px;
    letter-spacing: 1.5px;
    font-size: 0.8em;
  }
  #FinalChat_Input_Btn {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 0.8em;
  }
  #Sub_FinalChat_Parent_1 {
    width: 100%;
    padding: 1em 0.5em;
  }
  #Sub_FinalChat_P1_1 {
    padding: 1em 0.5em;
  }
  #Sub_FinalChat_P1_1 h1 {
    padding: 0.1em 0.1em;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
  }
  #Sub_FinalChat_P1_2 {
    padding: 2em 0.5em;
  }
  #Sub_FinalChat_P1_2_1 {
    padding: 0.5em 0.5em;
    justify-content: center;
  }
  #S_FC_P1_2_1_Part_1 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_1 img {
    width: 50%;
  }
  #S_FC_P1_2_1_Part_2 {
    padding: 0.1em 0.1em;
    width: 10%;
  }
  #S_FC_P1_2_1_Part_2 img {
    width: 60%;
  }
  #S_FC_P1_2_1_Part_3 {
    padding: 0.1em 0.1em;
    width: 30%;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #My_Message {
    font-size: 0.8em;
  }
  /* - */
}
/* 5 */
@media screen and (min-width: 1px) and (max-width: 600px) {
  /* 1 - Final_Chat_Parent */
  #Final_Chat_Parent {
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Sub_FinalChat_Parent_2 {
    width: 100%;
    height: 84vh;
    border-radius: 10px;
    padding: 0.1em 0.2em;
  }
  #FinalChat_Input {
    padding: 5.7px 15px 5.7px 5px;
    letter-spacing: 1.5px;
    font-size: 0.75em;
  }
  #FinalChat_Input_Btn {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 0.75em;
  }
  #Sub_FinalChat_Parent_1 {
    width: 100%;
    padding: 1em 0.5em;
  }
  #Sub_FinalChat_P1_1 {
    padding: 1em 0.5em;
  }
  #Sub_FinalChat_P1_1 h1 {
    padding: 0.1em 0.1em;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
  }
  #Sub_FinalChat_P1_2 {
    padding: 1em 0.5em;
  }
  #Sub_FinalChat_P1_2_1 {
    padding: 0.5em 0.5em;
    justify-content: center;
  }
  #S_FC_P1_2_1_Part_1 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_1 img {
    width: 60%;
  }
  #S_FC_P1_2_1_Part_2 {
    padding: 0.1em 0.1em;
    width: 10%;
  }
  #S_FC_P1_2_1_Part_2 img {
    width: 60%;
  }
  #S_FC_P1_2_1_Part_3 {
    padding: 0.1em 0.1em;
    width: 30%;
    font-size: 0.85em;
    letter-spacing: 1px;
  }
  #My_Message {
    font-size: 0.75em;
  }
  /* - */
}
/* 6 */
@media screen and (min-width: 1px) and (max-width: 400px) {
  /* 1 - Final_Chat_Parent */
  #Final_Chat_Parent {
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Sub_FinalChat_Parent_2 {
    width: 100%;
    height: 84vh;
    border-radius: 10px;
    padding: 0em 0em;
  }
  #FinalChat_Input {
    padding: 4.8px 15px 4.8px 5px;
    letter-spacing: 0px;
    font-size: 0.7em;
  }
  #FinalChat_Input_Btn {
    padding: 0.45em 1.1em;
    border-radius: 5px;
    margin-left: 3px;
    letter-spacing: 0.5px;
    font-size: 0.7em;
  }
  #Sub_FinalChat_Parent_1 {
    width: 100%;
    padding: 1em 0em;
  }
  #Sub_FinalChat_P1_1 {
    padding: 1em 0em;
  }
  #Sub_FinalChat_P1_1 h1 {
    padding: 0.1em 0.1em;
    font-size: 1em;
    letter-spacing: 0px;
    text-align: center;
  }
  #Sub_FinalChat_P1_2 {
    padding: 1em 0em;
  }
  #Sub_FinalChat_P1_2_1 {
    padding: 0.5em 0.5em;
    justify-content: center;
  }
  #S_FC_P1_2_1_Part_1 {
    padding: 0.1em 0.1em;
    width: 20%;
  }
  #S_FC_P1_2_1_Part_1 img {
    width: 80%;
  }
  #S_FC_P1_2_1_Part_2 {
    padding: 0.1em 0.1em;
    width: 10%;
  }
  #S_FC_P1_2_1_Part_2 img {
    width: 100%;
  }
  #S_FC_P1_2_1_Part_3 {
    padding: 0.1em 0.1em;
    width: 40%;
    font-size: 0.7em;
    letter-spacing: 1px;
  }
  #My_Message {
    font-size: 0.55em;
  }
  /* - */
}
