/* ------------------------- */
/* -- FinalChat.css -- */
/* ------------------------- */
#Final_Chat_Parent {
  width: 50%;
  float: right;
}
#Sub_FinalChat_Parent {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#FinalChat_Input {
  padding: 8px 15px 8px 10px;
  width: 100%;
  border: 0.1px solid grey;
  border-radius: 5px;
  letter-spacing: 1.5px;
  color: #001400;
}
#FinalChat_Input:focus {
  outline: none;
  background-color: #d3f3d3;
}
#FinalChat_Input_Btn {
    background-color: blue;
    padding: 0.5em 1.1em;
    color: white;
    border-radius: 5px;
    border: 0.1px solid transparent;
    cursor: pointer;
    margin-left: 5px;
    letter-spacing: 1.5px,
}

/* Media Queries In CSS */
/* 1 */
@media only screen and (max-width: 1400px) {
  /* Adjust styles for screens up to 1400px */
  #Final_Chat_Parent {
    width: 100%;
  }
}

/* 2 */
@media only screen and (max-width: 280px) {
  /* Adjust styles for screens up to 280px */
  #Final_Chat_Parent {
    width: 100%;
  }
}
