*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ----- Extra Z_Test Part ----- */
#ZTest_Sec_Box{
  border: 1px solid blue;
  background-color: lightblue;
  width: 25%;
  border-radius: 10px;
  padding: 2em 0.5em;
  position: absolute;
  right: 5em;
  top: 1em;
}
#ZTest_Sec_Box h6{
  border: 0.1px solid lightblue;
  padding: 0.2em;
  text-align: center;
}
#ZTest_Sec_Box button{
  border: 1px solid black;
  padding: 0.2em;
  display: block;
  margin: 0em auto;
}
/* ----- Extra Z_Test Part ----- */
/* ------------------------- */
/* -- PChat.css -- */
/* ------------------------- */
/* 1 - PChat_first */
/*  */
/* Start */
/*  */
/* ---------------------------- */
/* Media Queries In CSS */
/* ---------------------------- */
/* 1 */