*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ----- Extra Z_Test Part ----- */
#ZTest_Sec_Box {
  border: 1px solid blue;
  background-color: lightblue;
  width: 25%;
  border-radius: 10px;
  padding: 2em 0.5em;
  position: absolute;
  right: 5em;
  top: 1em;
}
#ZTest_Sec_Box h6 {
  border: 0.1px solid lightblue;
  padding: 0.2em;
  text-align: center;
}
#ZTest_Sec_Box button {
  border: 1px solid black;
  padding: 0.2em;
  display: block;
  margin: 0em auto;
}
/* ----- Extra Z_Test Part ----- */
/* ------------------------- */
/* -- PChat.css -- */
/* ------------------------- */
/* 1 - PChat_first */
#PChat_first {
  border: 0px solid transparent;
  padding: 0.5em 2em 5em 2em;
}
#sub_PChat_first {
  border: 0px solid transparent;
  padding: 0.5em 1em 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#PChat_first_Part_1 {
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 50%;
}
#PChat_first_Part_1_Image_Box {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  border-radius: 20px;
  /* background-image: linear-gradient(to right, orangered, orange); */
  background-color: #f28500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#PChat_first_Part_1_Image_Box_1 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 70%;
}
#PChat_first_Part_1_Image_Box_1 h4 {
  text-align: left;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  letter-spacing: 2px;
  color: #001400;
  word-spacing: 0.5em;
  line-height: 1.5em;
}
#PChat_first_Part_1_Image_Box_2 {
  border: 0px solid transparent;
  padding: 0.2em 0.5em;
  width: 30%;
}
#PChat_first_Part_1_Image_Box_2 img {
  border: 0px solid transparent;
  width: 60%;
  display: block;
  margin: 0em auto;
}
#PChat_first_Part_1_Point {
  border: 0px solid transparent;
  padding: 1em 0.1em;
  margin: 1em 0em 0em 0em;
}
#PChat_first_Part_1_Point p {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  color: #001400;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: capitalize;
}
#PChat_first_Part_1_Point p i {
  border: 0px solid transparent;
  padding: 0.05em 0.5em 0.05em 0.05em;
  color: orangered;
}
#PChat_first_Part_2 {
  border: 0px solid transparent;
  padding: 1em 1em 15.3em 1em;
  width: 50%;
}
#PChat_first_Part_Chat_Heading {
  border: 0px solid transparent;
  background-color: rgb(214, 210, 210);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  width: 85%;
  margin: 0em auto;
}
#PCHat_Heading_Part_0 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 25%;
  text-align: center;
  font-weight: bold;
  color: #001400;
  letter-spacing: 2px;
}
#PCHat_Heading_Part_1 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 25%;
  text-align: center;
  font-weight: bold;
  color: #001400;
  letter-spacing: 2px;
}
#PCHat_Heading_Part_2 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 50%;
  font-weight: bold;
  color: #001400;
  text-align: center;
  letter-spacing: 2px;
}
#PChat_Box_Messages {
  border: 0px solid transparent;
  width: 85%;
  margin: 1em auto 0em auto;
  border-radius: 10px;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #001400;
}
#PChat_Box_Messages:hover {
  background-color: #025f02;
  cursor: pointer;
}
#PChat_Box_Messages_Part_0 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 25%;
  text-align: center;
  color: white;
}
#PChat_Box_Messages_Part_1 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 25%;
}
#PChat_Box_Messages_Part_1 img {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 60%;
  display: block;
  margin: 0em auto;
}
#PChat_Box_Messages_Part_2 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

/* Start */
/*  */

/* ---------------------------- */
/* Media Queries In CSS */
/* ---------------------------- */
/* 1 */
@media screen and (min-width: 1px) and (max-width: 1400px) {
  /* 1 - PChat_first */
  #PChat_first {
    padding: 0.1em 2em 5em 2em;
  }
  #sub_PChat_first {
    padding: 0.3em 1em 1em 1em;
  }
  #PChat_first_Part_1 {
    padding: 1em 1em;
    width: 50%;
  }
  #PChat_first_Part_1_Image_Box {
    padding: 0.5em 1em;
    border-radius: 20px;
  }
  #PChat_first_Part_1_Image_Box_1 {
    padding: 0.5em 0.5em;
    width: 70%;
  }
  #PChat_first_Part_1_Image_Box_1 h4 {
    font-size: 1.45em;
    letter-spacing: 2.5px;
    line-height: 1.5em;
  }
  #PChat_first_Part_1_Image_Box_2 {
    padding: 0.2em 0.5em;
    width: 30%;
  }
  #PChat_first_Part_1_Image_Box_2 img {
    width: 60%;
  }
  #PChat_first_Part_1_Point {
    padding: 1em 0.1em;
    margin: 1em 0em 0em 0em;
  }
  #PChat_first_Part_1_Point p {
    padding: 0.5em 0.5em;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #PChat_first_Part_2 {
    padding: 1em 1em 15.3em 1em;
    width: 50%;
  }
  #PChat_first_Part_Chat_Heading {
    padding: 0.5em 0.5em;
    width: 85%;
  }
  #PCHat_Heading_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  #PCHat_Heading_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  #PCHat_Heading_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  #PChat_Box_Messages {
    width: 85%;
    margin: 1em auto 0em auto;
    padding: 0.5em 0.5em;
  }
  #PChat_Box_Messages_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 img {
    padding: 0.5em 0.5em;
    width: 60%;
  }
  #PChat_Box_Messages_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
  }
  /* --- */
}
/* 2 */
@media screen and (min-width: 1px) and (max-width: 1200px) {
  /* 1 - PChat_first */
  #PChat_first {
    padding: 0.1em 2em 5em 2em;
  }
  #sub_PChat_first {
    padding: 0.3em 1em 1em 1em;
  }
  #PChat_first_Part_1 {
    padding: 1em 1em;
    width: 50%;
  }
  #PChat_first_Part_1_Image_Box {
    padding: 0.5em 1em;
    border-radius: 20px;
    width: 95%;
  }
  #PChat_first_Part_1_Image_Box_1 {
    padding: 0.5em 0.5em;
    width: 70%;
  }
  #PChat_first_Part_1_Image_Box_1 h4 {
    font-size: 1em;
    letter-spacing: 2.5px;
    line-height: 1.5em;
    text-align: center;
  }
  #PChat_first_Part_1_Image_Box_2 {
    padding: 0.2em 0.5em;
    width: 30%;
  }
  #PChat_first_Part_1_Image_Box_2 img {
    width: 60%;
  }
  #PChat_first_Part_1_Point {
    padding: 1em 0.1em;
    margin: 1em 0em 0em 0em;
  }
  #PChat_first_Part_1_Point p {
    padding: 0.5em 0.5em;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #PChat_first_Part_2 {
    padding: 1em 1em 13.8em 1em;
    width: 50%;
  }
  #PChat_first_Part_Chat_Heading {
    padding: 0.5em 0.5em;
    width: 85%;
  }
  #PCHat_Heading_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  #PCHat_Heading_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  #PCHat_Heading_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  #PChat_Box_Messages {
    width: 85%;
    margin: 1em auto 0em auto;
    padding: 0.5em 0.5em;
  }
  #PChat_Box_Messages_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    font-size: 0.9em;
  }
  #PChat_Box_Messages_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 img {
    padding: 0.5em 0.5em;
    width: 60%;
  }
  #PChat_Box_Messages_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  /* --- */
}
/* 3 */
@media screen and (min-width: 1px) and (max-width: 1000px) {
  /* 1 - PChat_first */
  #PChat_first {
    padding: 0.1em 0.5em 5em 0.5em;
  }
  #sub_PChat_first {
    padding: 0.3em 0.5em 1em 0.5em;
  }
  #PChat_first_Part_1 {
    padding: 1em 1em;
    width: 50%;
  }
  #PChat_first_Part_1_Image_Box {
    padding: 0.5em 1em;
    border-radius: 20px;
    width: 95%;
  }
  #PChat_first_Part_1_Image_Box_1 {
    padding: 0.5em 0.5em;
    width: 70%;
  }
  #PChat_first_Part_1_Image_Box_1 h4 {
    font-size: 0.9em;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    text-align: center;
  }
  #PChat_first_Part_1_Image_Box_2 {
    padding: 0.2em 0.5em;
    width: 30%;
  }
  #PChat_first_Part_1_Image_Box_2 img {
    width: 75%;
  }
  #PChat_first_Part_1_Point {
    padding: 1em 0.1em;
    margin: 1em 0em 0em 0em;
  }
  #PChat_first_Part_1_Point p {
    padding: 0.5em 0.5em;
    font-size: 0.85em;
    letter-spacing: 1.5px;
  }
  #PChat_first_Part_2 {
    padding: 1em 1em 14.2em 1em;
    width: 60%;
  }
  #PChat_first_Part_Chat_Heading {
    padding: 0.5em 0.5em;
    width: 85%;
  }
  #PCHat_Heading_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.75em;
  }
  #PCHat_Heading_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.75em;
  }
  #PCHat_Heading_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.75em;
  }
  #PChat_Box_Messages {
    width: 85%;
    margin: 1em auto 0em auto;
    padding: 0.5em 0.5em;
  }
  #PChat_Box_Messages_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    font-size: 0.85em;
  }
  #PChat_Box_Messages_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 img {
    padding: 0.5em 0.5em;
    width: 60%;
  }
  #PChat_Box_Messages_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  /* --- */
}
/* 4 */
@media screen and (min-width: 1px) and (max-width: 800px) {
  /* 1 - PChat_first */
  #PChat_first {
    padding: 0.1em 0.2em 5em 0.2em;
  }
  #sub_PChat_first {
    padding: 0.3em 0.2em 1em 0.2em;
  }
  #PChat_first_Part_1 {
    padding: 1em 0.5em;
    width: 50%;
  }
  #PChat_first_Part_1_Image_Box {
    padding: 0.4em 1em;
    border-radius: 20px;
    width: 95%;
  }
  #PChat_first_Part_1_Image_Box_1 {
    padding: 0.5em 0.5em;
    width: 70%;
  }
  #PChat_first_Part_1_Image_Box_1 h4 {
    font-size: 0.65em;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    text-align: center;
  }
  #PChat_first_Part_1_Image_Box_2 {
    padding: 0.2em 0.5em;
    width: 30%;
  }
  #PChat_first_Part_1_Image_Box_2 img {
    width: 75%;
  }
  #PChat_first_Part_1_Point {
    padding: 1em 0.1em;
    margin: 1em 0em 0em 0em;
  }
  #PChat_first_Part_1_Point p {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    letter-spacing: 1.5px;
  }
  #PChat_first_Part_2 {
    padding: 1em 1em 11.8em 1em;
    width: 60%;
  }
  #PChat_first_Part_Chat_Heading {
    padding: 0.5em 0.5em;
    width: 85%;
  }
  #PCHat_Heading_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
  #PCHat_Heading_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
  #PCHat_Heading_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
  #PChat_Box_Messages {
    width: 85%;
    margin: 1em auto 0em auto;
    padding: 0.5em 0.5em;
  }
  #PChat_Box_Messages_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    font-size: 0.75em;
  }
  #PChat_Box_Messages_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 img {
    padding: 0.5em 0.5em;
    width: 100%;
  }
  #PChat_Box_Messages_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.75em;
  }
  /* --- */
}
/* 5 */
@media screen and (min-width: 1px) and (max-width: 600px) {
  /* 1 - PChat_first */
  #PChat_first {
    padding: 0.1em 0.2em 5em 0.2em;
  }
  #sub_PChat_first {
    padding: 0.3em 0.2em 1em 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #PChat_first_Part_1 {
    padding: 1em 0.5em;
    width: 100%;
  }
  #PChat_first_Part_1_Image_Box {
    padding: 0.3em 1em;
    border-radius: 20px;
    width: 95%;
  }
  #PChat_first_Part_1_Image_Box_1 {
    padding: 0.5em 0.5em;
    width: 70%;
  }
  #PChat_first_Part_1_Image_Box_1 h4 {
    font-size: 1.2em;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    text-align: center;
  }
  #PChat_first_Part_1_Image_Box_2 {
    padding: 0.2em 0.5em;
    width: 30%;
  }
  #PChat_first_Part_1_Image_Box_2 img {
    width: 75%;
  }
  #PChat_first_Part_1_Point {
    padding: 0.5em 0.1em;
    margin: 0.5em 0em 0em 0em;
  }
  #PChat_first_Part_1_Point p {
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    letter-spacing: 1.5px;
  }
  #PChat_first_Part_2 {
    padding: 1em 1em 10em 1em;
    width: 100%;
  }
  #PChat_first_Part_Chat_Heading {
    padding: 0.5em 0.5em;
    width: 100%;
  }
  #PCHat_Heading_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
  #PCHat_Heading_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
  #PCHat_Heading_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
  #PChat_Box_Messages {
    width: 100%;
    margin: 1em auto 0em auto;
    padding: 0.5em 0.5em;
  }
  #PChat_Box_Messages_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    font-size: 0.75em;
  }
  #PChat_Box_Messages_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 img {
    padding: 0.5em 0.5em;
    width: 50%;
  }
  #PChat_Box_Messages_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.75em;
  }
  /* --- */
}
/* 6 */
@media screen and (min-width: 1px) and (max-width: 400px) {
  /* 1 - PChat_first */
  #PChat_first {
    padding: 0.1em 0em 5em 0em;
  }
  #sub_PChat_first {
    padding: 0.3em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #PChat_first_Part_1 {
    padding: 1em 0.1em;
    width: 100%;
  }
  #PChat_first_Part_1_Image_Box {
    padding: 0.3em 0.1em;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #PChat_first_Part_1_Image_Box_1 {
    padding: 0.6em 0.5em 0em 0.5em;
    width: 100%;
  }
  #PChat_first_Part_1_Image_Box_1 h4 {
    font-size: 0.7em;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
  }
  #PChat_first_Part_1_Image_Box_2 {
    padding: 0.2em 0.5em;
    width: 30%;
  }
  #PChat_first_Part_1_Image_Box_2 img {
    width: 75%;
  }
  #PChat_first_Part_1_Point {
    padding: 0.5em 0.1em;
    margin: 0.5em 0em 0em 0em;
  }
  #PChat_first_Part_1_Point p {
    padding: 0.2em 0.5em;
    font-size: 0.75em;
    letter-spacing: 1px;
  }
  #PChat_first_Part_2 {
    padding: 1em 0.2em 7em 0.2em;
    width: 100%;
  }
  #PChat_first_Part_Chat_Heading {
    padding: 0.3em 0.5em;
    width: 100%;
  }
  #PCHat_Heading_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 1px;
    font-size: 0.65em;
  }
  #PCHat_Heading_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 1px;
    font-size: 0.65em;
  }
  #PCHat_Heading_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 1px;
    font-size: 0.65em;
  }
  #PChat_Box_Messages {
    width: 100%;
    margin: 0.7em auto 0em auto;
    padding: 0.4em 0.2em;
  }
  #PChat_Box_Messages_Part_0 {
    padding: 0.5em 0.5em;
    width: 25%;
    font-size: 0.65em;
  }
  #PChat_Box_Messages_Part_1 {
    padding: 0.5em 0.5em;
    width: 25%;
  }
  #PChat_Box_Messages_Part_1 img {
    padding: 0.5em 0.5em;
    width: 100%;
  }
  #PChat_Box_Messages_Part_2 {
    padding: 0.5em 0.5em;
    width: 50%;
    letter-spacing: 2px;
    font-size: 0.65em;
  }
  /* --- */
}
