* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* 1 - PProfile.js */
#Header {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  /* background: #A2C2C3; */
  /* background: #ffad3a; */
  background: #F28500;
  /* background: rgb(241, 103, 10); */
  display: flex;
  flex-direction: row;
}
#sub_Header {
  border: 0px solid transparent;
  padding: 0.2em 0.2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#Head_1 {
  border: 0px solid transparent;
  padding: 0.1em 1em;
  width: 94%;
  margin: 0em 1em;
}
#Head_1 p {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  letter-spacing: 1.3px;
  font-weight: bold;
  margin: auto;
  color: #001400;
  text-align: center;
}
#Head_2 {
  border: 0px solid transparent;
  width: 6%;
  padding: 0.1em 0.1em;
}
#sub_Head_2 {
  border: 0px solid transparent;
  width: 75%;
  background-color: #001400;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  display: block;
  margin: 0em auto;
}
#sub_Head_2:hover {
  background-color: #032903;
}
#sub_Head_2:focus {
  outline: none;
  background-color: #f1070e;
}
#sub_Head_2 img {
  border: 0px solid transparent;
  width: 71%;
}
/* 1 - Profile Heading */
#Prof_Heading {
  border: 0px solid transparent;
  padding: 0.8em 1em;
}
#Prof_Heading h1 {
  border: 0px solid transparent;
  padding: 0.7em 1em;
  width: 94%;
  font-weight: bold;
  margin: 0em auto;
  color: #001400;
  letter-spacing: 1.5px;
}
#Prof_Heading h1 i {
  border: 0px solid transparent;
  padding: 0.2em 0.05em;
  color: #001400;
  font-size: 35px;
}
/* 2 - Main Profile Body */
#MainProfile {
  border: 0px solid transparent;
  padding: 0.2em 1em;
}
#subMainProfile {
  border: 0px solid transparent;
  padding: 0.2em 1em;
}
#MainProfileBox {
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 90%;
  margin: 0em auto;
  background-color: rgb(249, 244, 244);
  border-radius: 20px;
  box-shadow: gray 0px 5px 15px;
}
#ProfileBox_1 {
  border: 0px solid transparent;
  padding: 0.3em 1em;
}
#subProfileBox_1 {
  border: 0px solid transparent;
  padding: 0.3em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#ProfileBox_1_O_1_B1 {
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 28%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
#ProfileBox_1_O_1_B2 {
  cursor: pointer;
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 28%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
#ProfileBox_1_O_1_B3 {
  cursor: pointer;
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 28%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
#ProfileBox_1_O_1_P {
  border: 0px solid transparent;
  padding: 0em 1em;
  font-size: 1.25em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
#ProfileBox_1_O_1_P i {
  /* border: 0.1px solid black; */
  padding: 0em 0.4em;
  color: #f92500;
  font-size: 20px;
}
#ProfileBox_2 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  background-color: rgb(249, 244, 244);
}
#ProfileBox_2_Part_1 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
}
#sub_ProfileBox_2_Part_1 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ProfileBox_2_Part_1_1 {
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 40%;
}
#sub_ProfileBox_2_Part_1_1 {
  border: 0px solid transparent;
  padding: 1em 1em;
}
#ProfileBox_2_Part_1_1_P1 {
  border: 0px solid transparent;
  padding: 1em 1em;
}
#ProfileBox_2_Part_1_1_P1_ImgP {
  border: 0px solid transparent;
  padding: 1em;
  width: 60%;
  border-radius: 50%;
  margin: 0em auto;
  background-color: lightgray;
}
#ProfileBox_2_Part_1_1_P1_ImgP img {
  border: 0px solid transparent;
  width: 100%;
  border-radius: 50%;
}
#ProfileBox_2_Part_1_1_P2 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
}
#ProfileBox_2_Part_1_1_P2 p {
  border: 0px solid transparent;
  padding: 1em 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1.5px;
}
#ProfileBox_2_Part_1_2 {
  border: 0px solid transparent;
  padding: 1.9em 1em;
  width: 60%;
}
#ProfileBox_2_Input_Box {
  border: 0px solid transparent;
  padding: 0.05em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#ProfileBox_2_Input_Box_1 {
  border: 0px solid transparent;
  padding: 0.6em 2em;
  width: 25%;
  letter-spacing: 2px;
  border-radius: 15px 0px 0px 15px;
  font-size: 1.1em;
  background-color: #dafada;
}
#ProfileBox_2_Input_Box_2 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  width: 5%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: #dafada;

}
#ProfileBox_2_Input_Box_3 {
  border: 0px solid transparent;
  padding: 0.6em 2em;
  width: 70%;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: #dafada;
}
#ProfileBox_2_Input_Box_3_E {
  border: 0px solid transparent;
  padding: 0.75em 0em 0.75em 2em;
  width: 70%;
  border-radius: 0px 15px 15px 0px;
  font-size: 1em;
  letter-spacing: 0.8px;
  font-weight: bold;
  background-color: #dafada;
}
#ProfileBox_2_Input_Box_1_W {
  border: 0px solid transparent;
  padding: 0.6em 2em;
  width: 25%;
  letter-spacing: 2px;
  border-radius: 15px 0px 0px 15px;
  font-size: 1.1em;
  background-color: white;
}
#ProfileBox_2_Input_Box_2_W {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  width: 5%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: white;
}
#ProfileBox_2_Input_Box_3_W {
  border: 0px solid transparent;
  padding: 0.6em 2em;
  width: 70%;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: white;
}
/* 3 - Edit Profile Page  */
#ProfileBox_2_Part_2 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
}
#sub_ProfileBox_2_Part_2 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
}
#ProfileBox_2_Sec_Part_1 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
}
#ProfileBox_2_Sec_Part_1_P1 {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ProfileBox_2_Sec_Part_1_P1_Box {
  border: 0px solid transparent;
  padding: 1em 1em;
  width: 50%;
}
#ProfileBox_2_Sec_Part_1_P1_Box i {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  color: #ff1801;
  font-size: 40px;
}
#ProfileBox_2_Sec_Part_1_P2 {
  border: 0px solid transparent;
  padding: 0.3em 1em;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#ProfileBox_2_Sec_Part_1_P2_Box {
  border: 0px solid transparent;
  padding: 0.3em 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#sub_ProBx_2_Sc_Prt_1_P2_Bx {
  border: 0px solid transparent;
  padding: 0.3em 1em;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#PrBx_2_Sec_Part_1_P2_Box {
  border: 0px solid transparent;
  padding: 0.1em 0.1em;
  width: 5.5vw;
  border-radius: 50%;
}
#PrBx_2_Sec_Part_1_P2_Box img {
  border: 0px solid transparent;
  width: 100%;
  border-radius: 50%;
}
#PrBx_2_Sec_Part_1_P2_BxBtn {
  border: 0px solid transparent;
  padding: 0.2em 0em;
}
#sub_ProBx_2_Sc_Prt_1_P2_Bx button {
  border: 0.1px solid #1e272e;
  background-color: #1e272e;
  color: white;
  padding: 0.2em 0.8em;
  border-radius: 5px;
}
#sub_ProBx_2_Sc_Prt_1_P2_Bx button:hover {
  background-color: rgb(58, 58, 59);
}
#sub_ProBx_2_Sc_Prt_1_P2_Bx button:focus {
  outline: none;
  border-color: lightgrey;
}
#ProfileBox_2_Sec_Part_2 {
  border: 0px solid transparent;
  padding: 1em 1em;
}
#ProfileBox_2_Row {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ProfileBox_2_Row_Part_1 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  width: 50%;
  color: #001400;
}
#ProfileBox_2_Row_Part_1_P1 {
  border: 0px solid transparent;
  padding: 0.35em 0.5em;
}
#ProfileBox_2_Row_Part_1_P1 span {
  border: 0px solid transparent;
  padding: 0.2em 0.2em;
  font-size: 1.05em;
  letter-spacing: 0.5px;
  font-weight: bold;
}
#ProfileBox_2_Row_Part_1_P1 input {
  border: 0.1px solid grey;
  padding: 0.6em 1.2em;
  margin: 0em 0.18em;
  font-size: 1em;
  width: 100%;
  letter-spacing: 1.7px;
  border-radius: 5px;
}
#ProfileBox_2_Row_Part_1_P1 input:focus {
  outline: none;
  border-color: #001400;
}
#ProfileBox_2_Row_Submit_Btn {
  border: 0px solid transparent;
  background-color: #001400;
  color: white;
  width: 50%;
  font-size: 1.3em;
  padding: 0.2em 1em;
  margin: 1em 0em 0em 0em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
}
#ProfileBox_2_Row_Submit_Btn:hover {
  color: white;
  background-color: #032903;
  font-weight: bold;
}
#ProfileBox_2_Row_Submit_Btn:focus {
  outline: none;
  color: black;
  background-color: orange;
  font-weight: bold;
}
/* 3 - Reset Password */
#ProfileBox_2_Part_3 {
  border: 0px solid transparent;
  padding: 2em 1em 3.5em 1em;
}
#sub_ProfileBox_2_Part_3 {
  border: 0px solid transparent;
  padding: 2em 1em;
  width: 50%;
  margin: 0em auto;
}
#sub_ProfileBox_2_Part_3 h2 {
  border: 0px solid transparent;
  padding: 0.5em 0.5em;
  font-size: 2.5em;
  color: #001400;
}
#ProfileBox_2_Part_3_Input_Box {
  border: 0px solid transparent;
  padding: 1.5em 0.5em;
  margin: 0em 0em 0.5em 0em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#ProfileBox_2_Part_3_Input_Box label {
  font-size: 1.1em;
  color: #001400;
  padding: 0em 1em;
  letter-spacing: 1px;
}
#ProfileBox_2_Part_3_Input_Box input {
  border: 1px solid grey;
  padding: 0.3em 1em;
  width: 60%;
  margin: 0em 0em 0.35em 0em;
  border-radius: 10px;
}
#ProfileBox_2_Part_3_Input_Box input:focus {
  outline: none;
  border-color: rgb(51, 50, 50);
}
#ProfileBox_2_Part_3_Input_Box_2 {
  border: 0px solid transparent;
  padding: 1em 1.5em;
}
#ProfileBox_2_Part_3_Input_Box_2 button {
  border: 0px solid transparent;
  padding: 0.5em 1em;
  width: 100%;
  background-color: #001400;
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
  letter-spacing: 2px;
}
#ProfileBox_2_Part_3_Input_Box_2 button:hover {
  background-color: #032903;
  color: white;
  font-weight: bold;
}
#ProfileBox_2_Part_3_Input_Box_2 button:focus {
  outline: none;
  background-color: #F28500;
  color: black;
  font-weight: bold;
}
/* -------------------------------- */
/* Media Queries In CSS */
/* -------------------------------- */
/* 1 */
@media screen and (min-width: 1px) and (max-width: 1400px) {
  /* 1 - Header */
  #Header {
    padding: 0.5em 1em;
  }
  #sub_Header {
    padding: 0.1em 0.2em;
    width: 100%;
  }
  #Head_1 {
    padding: 0.05em 1em;
    width: 94%;
    margin: 0em 1em;
  }
  #Head_1 p {
    padding: 0.05em 0.1em;
    font-size: 1.5em;
    letter-spacing: 1.3px;
  }
  #Head_2 {
    width: 6%;
    padding: 0.05em 0.1em;
  }
  #sub_Head_2 {
    width: 75%;
    padding: 0.3em 0.5em;
  }
  #sub_Head_2 img {
    width: 80%;
  }
  /* 1 - Profile Heading */
  #Prof_Heading {
    padding: 0.4em 1em;
  }
  #Prof_Heading h1 {
    padding: 0.1em 1em;
    width: 94%;
    font-size: 2em;
    letter-spacing: 1.5px;
  }
  /* 2 - Main Profile Body */
  #MainProfile {
    padding: 0.3em 1em;
  }
  #subMainProfile {
    padding: 0.2em 1em;
  }
  #MainProfileBox {
    padding: 0.5em 1em;
    width: 90%;
  }
  #ProfileBox_1 {
    padding: 0.3em 1em;
  }
  #subProfileBox_1 {
    padding: 0.3em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #ProfileBox_1_O_1_B1 {
    padding: 1em 1em;
    width: 28%;
  }
  #ProfileBox_1_O_1_B2 {
    padding: 1em 1em;
    width: 28%;
  }
  #ProfileBox_1_O_1_B3 {
    padding: 1em 1em;
    width: 28%;
  }
  #ProfileBox_1_O_1_P {
    padding: 0em 0.2em;
    font-size: 1.1em;
  }
  #ProfileBox_1_O_1_P i {
    padding: 0em 0.4em;
  }
  #ProfileBox_2 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #sub_ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
    width: 40%;
  }
  #sub_ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1_P1 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP {
    padding: 1em;
    width: 60%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP img {
    width: 100%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P2 {
    padding: 0.5em 1em;
  }
  #ProfileBox_2_Part_1_1_P2 p {
    padding: 1em 1em;
    font-size: 1em;
    letter-spacing: 1.5px;
  }
  #ProfileBox_2_Part_1_2 {
    padding: 0.3em 1em;
    width: 60%;
  }
  #ProfileBox_2_Input_Box {
    padding: 0.1em 0.1em;
  }
  #ProfileBox_2_Input_Box_1 {
    padding: 0.75em 2em;
    width: 25%;
    font-size: 0.95em;
  }
  #ProfileBox_2_Input_Box_2 {
    padding: 0.6em 1em;
    width: 5%;
    font-size: 1.05em;
  }
  #ProfileBox_2_Input_Box_3 {
    padding: 0.74em 2em;
    width: 70%;
    font-size: 0.95em;
    letter-spacing: 2.5px;
  }
  #ProfileBox_2_Input_Box_3_E {
    padding: 0.89em 0em 0.85em 2em;
    width: 70%;
    font-size: 0.87em;
    letter-spacing: 0.8px;
  }
  #ProfileBox_2_Input_Box_1_W {
    padding: 0.75em 2em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 1em;
  }
  #ProfileBox_2_Input_Box_2_W {
    padding: 0.75em 1em;
    width: 5%;
    font-size: 1em;
  }
  #ProfileBox_2_Input_Box_3_W {
    padding: 0.75em 2em;
    width: 70%;
    font-size: 1em;
    letter-spacing: 2.5px;
  }
  /* 3 - Reset Password */
  #ProfileBox_2_Part_3 {
    padding: 1em 1em 2em 1em;
  }
  #sub_ProfileBox_2_Part_3 {
    padding: 2em 1em;
    width: 60%;
    margin: 0em auto;
  }
  #sub_ProfileBox_2_Part_3 h2 {
    padding: 0.3em 0.5em;
    font-size: 2.3em;
    color: #001400;
  }
  #ProfileBox_2_Part_3_Input_Box {
    padding: 1em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #ProfileBox_2_Part_3_Input_Box label {
    font-size: 1.1em;
    padding: 0em 1em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_3_Input_Box input {
    padding: 0.3em 1em;
    width: 60%;
  }
  #ProfileBox_2_Part_3_Input_Box_2 {
    padding: 0.5em 1em;
  }
  #ProfileBox_2_Part_3_Input_Box_2 button {
    padding: 0.5em 1em;
    font-size: 1.1em;
    letter-spacing: 2px;
  }
  /* - */
}
/* 2 */
@media screen and (min-width: 1px) and (max-width: 1200px) {
  /* 1 - Header */
  #Header {
    padding: 0.5em 1em;
  }
  #sub_Header {
    padding: 0.1em 0.2em;
    width: 100%;
  }
  #Head_1 {
    padding: 0.05em 1em;
    width: 94%;
    margin: 0em 1em;
  }
  #Head_1 p {
    padding: 0.05em 0.1em;
    font-size: 1.4em;
    letter-spacing: 1.3px;
  }
  #Head_2 {
    width: 6%;
    padding: 0.05em 0.1em;
  }
  #sub_Head_2 {
    width: 75%;
    padding: 0.3em 0.5em;
  }
  #sub_Head_2 img {
    width: 84%;
  }
  /* 1 - Profile Heading */
  #Prof_Heading {
    padding: 0.8em 1em;
  }
  #Prof_Heading h1 {
    padding: 0.1em 1em;
    width: 100%;
    font-size: 1.8em;
    letter-spacing: 1.5px;
  }
  /* 2 - Main Profile Body */
  #MainProfile {
    padding: 0.3em 1em;
  }
  #subMainProfile {
    padding: 0.2em 1em;
  }
  #MainProfileBox {
    padding: 0.5em 0.5em;
    width: 97%;
  }
  #ProfileBox_1 {
    padding: 0.3em 1em;
  }
  #subProfileBox_1 {
    padding: 0.3em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #ProfileBox_1_O_1_B1 {
    padding: 1em 1em;
    width: 29%;
  }
  #ProfileBox_1_O_1_B2 {
    padding: 1em 1em;
    width: 29%;
  }
  #ProfileBox_1_O_1_B3 {
    padding: 1em 1em;
    width: 29%;
  }
  #ProfileBox_1_O_1_P {
    padding: 0em 0.2em;
    font-size: 0.9em;
  }
  #ProfileBox_1_O_1_P i {
    padding: 0em 0.4em;
  }
  #ProfileBox_2 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #sub_ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
    width: 40%;
  }
  #sub_ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1_P1 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP {
    padding: 1em;
    width: 60%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP img {
    width: 100%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P2 {
    padding: 0.5em 1em;
  }
  #ProfileBox_2_Part_1_1_P2 p {
    padding: 1em 1em;
    font-size: 1em;
    letter-spacing: 1.5px;
  }
  #ProfileBox_2_Part_1_2 {
    padding: 0.3em 1em;
    width: 60%;
  }
  #ProfileBox_2_Input_Box {
    padding: 0.2em 0.1em;
  }
  #ProfileBox_2_Input_Box_1 {
    padding: 0.75em 2em;
    width: 25%;
    font-size: 0.9em;
  }
  #ProfileBox_2_Input_Box_2 {
    padding: 0.6em 1em;
    width: 5%;
    font-size: 1em;
  }
  #ProfileBox_2_Input_Box_3 {
    padding: 0.74em 2em;
    width: 70%;
    font-size: 0.9em;
    letter-spacing: 2.5px;
  }
  #ProfileBox_2_Input_Box_3_E {
    padding: 0.89em 0em 0.85em 2em;
    width: 70%;
    font-size: 0.83em;
    letter-spacing: 0.8px;
  }
  #ProfileBox_2_Input_Box_1_W {
    padding: 0.75em 2em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  #ProfileBox_2_Input_Box_2_W {
    padding: 0.75em 1em;
    width: 5%;
    font-size: 0.9em;
  }
  #ProfileBox_2_Input_Box_3_W {
    padding: 0.75em 2em;
    width: 70%;
    font-size: 0.9em;
    letter-spacing: 2.5px;
  }
  /* 3 - Edit Profile Page  */
  #ProfileBox_2_Part_2 {
    padding: 0.5em 0.5em;
  }
  #sub_ProfileBox_2_Part_2 {
    padding: 0.5em 0.5em;
  }
  #ProfileBox_2_Sec_Part_1 {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: row;
  }
  #ProfileBox_2_Sec_Part_1_P1 {
    padding: 0.5em 0.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box {
    padding: 0.5em 0.5em;
    width: 50%;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box i {
    padding: 0.1em 0.1em;
    font-size: 35px;
  }
  #ProfileBox_2_Sec_Part_1_P2 {
    padding: 0.3em 1em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #ProfileBox_2_Sec_Part_1_P2_Box {
    padding: 0.3em 1.2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx {
    padding: 0.3em 1em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #PrBx_2_Sec_Part_1_P2_Box {
    padding: 0.1em 0.1em;
    width: 5.5vw;
  }
  #PrBx_2_Sec_Part_1_P2_BxBtn {
    padding: 0.1em 0em;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx button {
    padding: 0.2em 0.6em;
    font-size: 0.9em;
  }
  #ProfileBox_2_Sec_Part_2 {
    padding: 0.5em 0.3em;
  }
  #ProfileBox_2_Row {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Row_Part_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #ProfileBox_2_Row_Part_1_P1 {
    padding: 0.35em 0.5em;
  }
  #ProfileBox_2_Row_Part_1_P1 span {
    padding: 0.2em 0.2em;
    font-size: 1em;
    letter-spacing: 0.5px;
  }
  #ProfileBox_2_Row_Part_1_P1 input {
    padding: 0.4em 1.2em;
    font-size: 0.9em;
    width: 100%;
    letter-spacing: 1.7px;
  }
  #ProfileBox_2_Row_Submit_Btn {
    width: 40%;
    font-size: 1.1em;
    padding: 0.2em 1em;
    margin: 1em 0em 0em 0em;
    letter-spacing: 2px;
  }
  /* 3 - Reset Password */
  #ProfileBox_2_Part_3 {
    padding: 1.8em 1em;
  }
  #sub_ProfileBox_2_Part_3 {
    padding: 1em 1em;
    width: 60%;
    margin: 0em auto;
  }
  #sub_ProfileBox_2_Part_3 h2 {
    letter-spacing: 1px;
    padding: 0.3em 0.5em;
    font-size: 2.1em;
    color: #001400;
  }
  #ProfileBox_2_Part_3_Input_Box {
    padding: 1.5em 0em 1.5em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #ProfileBox_2_Part_3_Input_Box label {
    font-size: 1.1em;
    padding: 0em 1em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_3_Input_Box input {
    padding: 0.3em 1em;
    width: 55%;
  }
  #ProfileBox_2_Part_3_Input_Box_2 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_3_Input_Box_2 button {
    padding: 0.5em 1em;
    font-size: 1.1em;
    letter-spacing: 2px;
  }
  /* - */
}
/* 3 */
@media screen and (min-width: 1px) and (max-width: 1000px) {
  /* 1 - Header */
  #Header {
    padding: 0.5em 1em;
  }
  #sub_Header {
    padding: 0.1em 0.2em;
    width: 100%;
  }
  #Head_1 {
    padding: 0.05em 1em;
    width: 94%;
    margin: 0em 1em;
  }
  #Head_1 p {
    padding: 0.15em 0.1em;
    font-size: 1.3em;
    letter-spacing: 1.1px;
  }
  #Head_2 {
    width: 6%;
    padding: 0.05em 0.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sub_Head_2 {
    width: 75%;
    padding: 0.2em 0.4em;
  }
  #sub_Head_2 img {
    width: 100%;
  }
  /* 1 - Profile Heading */
  #Prof_Heading {
    padding: 1.6em 0.9em;
  }
  #Prof_Heading h1 {
    padding: 0.1em 0.1em;
    width: 100%;
    font-size: 1.7em;
    letter-spacing: 1.5px;
  }
  #Prof_Heading h1 i {
    padding: 0.2em 0.05em;
    font-size: 32px;
  }
  /* 2 - Main Profile Body */
  #MainProfile {
    padding: 1.3em 0.5em;
  }
  #subMainProfile {
    padding: 0.5em 0.5em;
  }
  #MainProfileBox {
    padding: 0.5em 0.5em;
    width: 100%;
  }
  #ProfileBox_1 {
    padding: 0.3em 0.5em;
    border-radius: 10px;
  }
  #subProfileBox_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #ProfileBox_1_O_1_B1 {
    padding: 1em 0.1em;
    width: 29%;
    margin: 0em 1em;
  }
  #ProfileBox_1_O_1_B2 {
    padding: 1em 0.1em;
    width: 29%;
    margin: 0em 1em 0em 0em;
  }
  #ProfileBox_1_O_1_B3 {
    padding: 1em 0.1em;
    width: 29%;
  }
  #ProfileBox_1_O_1_P {
    padding: 0em 0.2em;
    font-size: 0.85em;
  }
  #ProfileBox_1_O_1_P i {
    padding: 0em 0.4em;
    font-size: 18px;
  }
  #ProfileBox_2 {
    padding: 0.9em 0.5em;
    border-radius: 10px;
  }
  #ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #sub_ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
    width: 35%;
  }
  #sub_ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1_P1 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP {
    padding: 0.3em;
    width: 70%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP img {
    width: 100%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P2 {
    padding: 0.5em 0.5em;
  }
  #ProfileBox_2_Part_1_1_P2 p {
    padding: 1em 1em;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #ProfileBox_2_Part_1_2 {
    padding: 0.3em 0.5em;
    width: 65%;
  }
  #ProfileBox_2_Input_Box_1 {
    padding: 0.47em 2em;
    width: 25%;
    font-size: 0.8em;
  }
  #ProfileBox_2_Input_Box_2 {
    padding: 0.4em 1em;
    width: 5%;
    font-size: 0.85em;
  }
  #ProfileBox_2_Input_Box_3 {
    padding: 0.44em 2em;
    width: 70%;
    font-size: 0.82em;
    letter-spacing: 2.5px;
  }
  #ProfileBox_2_Input_Box_3_E {
    padding: 0.5em 0em 0.5em 2em;
    width: 70%;
    font-size: 0.78em;
    letter-spacing: 0.8px;
  }
  #ProfileBox_2_Input_Box_1_W {
    padding: 0.5em 2em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  #ProfileBox_2_Input_Box_2_W {
    padding: 0.5em 1em;
    width: 5%;
    font-size: 0.85em;
  }
  #ProfileBox_2_Input_Box_3_W {
    padding: 0.5em 2em;
    width: 70%;
    font-size: 0.85em;
    letter-spacing: 2.5px;
  }
  /* 3 - Edit Profile Page  */
  #ProfileBox_2_Part_2 {
    padding: 0.5em 0.5em;
  }
  #sub_ProfileBox_2_Part_2 {
    padding: 0.5em 0.5em;
  }
  #ProfileBox_2_Sec_Part_1 {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: row;
  }
  #ProfileBox_2_Sec_Part_1_P1 {
    padding: 0.5em 0.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box {
    padding: 0.5em 0.5em;
    width: 50%;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box i {
    padding: 0.1em 0.1em;
    font-size: 35px;
  }
  #ProfileBox_2_Sec_Part_1_P2 {
    padding: 0.3em 1em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #ProfileBox_2_Sec_Part_1_P2_Box {
    padding: 0.3em 1.2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx {
    padding: 0.3em 1em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #PrBx_2_Sec_Part_1_P2_Box {
    padding: 0.1em 0.1em;
    width: 5.5vw;
  }
  #PrBx_2_Sec_Part_1_P2_BxBtn {
    padding: 0.1em 0em;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx button {
    padding: 0.2em 0.6em;
    font-size: 0.9em;
  }
  #ProfileBox_2_Sec_Part_2 {
    padding: 0.5em 0.3em;
  }
  #ProfileBox_2_Row {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Row_Part_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #ProfileBox_2_Row_Part_1_P1 {
    padding: 0.35em 0.5em;
  }
  #ProfileBox_2_Row_Part_1_P1 span {
    padding: 0.2em 0.2em;
    font-size: 1em;
    letter-spacing: 0.5px;
  }
  #ProfileBox_2_Row_Part_1_P1 input {
    padding: 0.4em 1.2em;
    font-size: 0.9em;
    width: 100%;
    letter-spacing: 1.7px;
  }
  #ProfileBox_2_Row_Submit_Btn {
    width: 40%;
    font-size: 1.1em;
    padding: 0.2em 1em;
    margin: 1em 0em 0em 0em;
    letter-spacing: 2px;
  }
  /* 3 - Reset Password */
  #ProfileBox_2_Part_3 {
    padding: 2em 1em;
  }
  #sub_ProfileBox_2_Part_3 {
    padding: 2em 1em;
    width: 60%;
    margin: 0em auto;
  }
  #sub_ProfileBox_2_Part_3 h2 {
    letter-spacing: 1px;
    padding: 0.3em 0.5em;
    font-size: 1.5em;
    color: #001400;
  }
  #ProfileBox_2_Part_3_Input_Box {
    padding: 1em 0em 1em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #ProfileBox_2_Part_3_Input_Box label {
    font-size: 1em;
    padding: 0em 0.5em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_3_Input_Box input {
    padding: 0.2em 1em;
    width: 50%;
  }
  #ProfileBox_2_Part_3_Input_Box_2 {
    padding: 0.5em 1em;
  }
  #ProfileBox_2_Part_3_Input_Box_2 button {
    padding: 0.4em 1em;
    font-size: 1em;
    letter-spacing: 2px;
  }
  /* - */
}
/* 3 */
@media screen and (min-width: 1px) and (max-width: 800px) {
  /* 1 - Header */
  #Header {
    padding: 0.5em 1em;
  }
  #sub_Header {
    padding: 0.1em 0.2em;
    width: 100%;
  }
  #Head_1 {
    padding: 0.05em 1em;
    width: 94%;
    margin: 0em 1em;
  }
  #Head_1 p {
    padding: 0.15em 0.1em;
    font-size: 1.1em;
    letter-spacing: 1.1px;
  }
  #Head_2 {
    width: 6%;
    padding: 0.05em 0.05em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sub_Head_2 {
    width: 80%;
    padding: 0.2em 0.2em;
  }
  #sub_Head_2 img {
    width: 100%;
  }
  /* 1 - Profile Heading */
  #Prof_Heading {
    padding: 1em 0.8em;
  }
  #Prof_Heading h1 {
    padding: 0.1em 0.4em;
    width: 100%;
    font-size: 1.7em;
    letter-spacing: 1.5px;
  }
  #Prof_Heading h1 i {
    padding: 0.2em 0.05em;
    font-size: 30px;
  }
  /* 2 - Main Profile Body */
  #MainProfile {
    padding: 0.3em 0em;
  }
  #subMainProfile {
    padding: 0.2em 0.5em;
  }
  #MainProfileBox {
    padding: 0.5em 0.5em;
    width: 95%;
  }
  #ProfileBox_1 {
    padding: 0.3em 0.5em;
    border-radius: 10px;
  }
  #subProfileBox_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #ProfileBox_1_O_1_B1 {
    padding: 1em 0em;
    width: 20%;
  }
  #ProfileBox_1_O_1_B2 {
    padding: 1em 0em;
    width: 20%;
  }
  #ProfileBox_1_O_1_B3 {
    padding: 1em 0em;
    width: 20%;
  }
  #ProfileBox_1_O_1_P {
    padding: 0em 0em;
    font-size: 0em;
  }
  #ProfileBox_1_O_1_P i {
    padding: 0em 0em;
    font-size: 20px;
  }
  #ProfileBox_2 {
    padding: 0.2em 0.5em;
    border-radius: 10px;
  }
  #ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
  }
  #sub_ProfileBox_2_Part_1 {
    padding: 0.2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Part_1_1 {
    padding: 0.5em 1em;
    width: 60%;
  }
  #sub_ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1_P1 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP {
    padding: 0.3em;
    width: 70%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP img {
    width: 100%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P2 {
    padding: 0.5em 0.5em;
  }
  #ProfileBox_2_Part_1_1_P2 p {
    padding: 1em 1em;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #ProfileBox_2_Part_1_2 {
    padding: 0.3em 0.5em;
    width: 97%;
  }
  #ProfileBox_2_Input_Box_1 {
    padding: 0.47em 1.5em;
    width: 25%;
    font-size: 0.8em;
  }
  #ProfileBox_2_Input_Box_2 {
    padding: 0.4em 1em;
    width: 5%;
    font-size: 0.85em;
  }
  #ProfileBox_2_Input_Box_3 {
    padding: 0.44em 1.5em;
    width: 70%;
    font-size: 0.82em;
    letter-spacing: 2.5px;
  }
  #ProfileBox_2_Input_Box_3_E {
    padding: 0.5em 0em 0.5em 1.5em;
    width: 70%;
    font-size: 0.78em;
    letter-spacing: 0.8px;
  }
  #ProfileBox_2_Input_Box_1_W {
    padding: 0.5em 1.5em;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.85em;
  }
  #ProfileBox_2_Input_Box_2_W {
    padding: 0.5em 1em;
    width: 5%;
    font-size: 0.85em;
  }
  #ProfileBox_2_Input_Box_3_W {
    padding: 0.5em 1.5em;
    width: 70%;
    font-size: 0.85em;
    letter-spacing: 2.5px;
  }
  /* 3 - Edit Profile Page  */
  #ProfileBox_2_Part_2 {
    padding: 0.3em 0.3em;
  }
  #sub_ProfileBox_2_Part_2 {
    padding: 0.3em 0.3em;
  }
  #ProfileBox_2_Sec_Part_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: row;
  }
  #ProfileBox_2_Sec_Part_1_P1 {
    padding: 0.3em 0.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box i {
    padding: 0.1em 0.1em;
    font-size: 30px;
  }
  #ProfileBox_2_Sec_Part_1_P2 {
    padding: 0.3em 1em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #ProfileBox_2_Sec_Part_1_P2_Box {
    padding: 0.3em 0em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx {
    padding: 0.3em 1em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #PrBx_2_Sec_Part_1_P2_Box {
    padding: 0.1em 0.1em;
    width: 7vw;
  }
  #PrBx_2_Sec_Part_1_P2_BxBtn {
    padding: 0.1em 0em;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx button {
    padding: 0.2em 0.5em;
    font-size: 0.8em;
  }
  #ProfileBox_2_Sec_Part_2 {
    padding: 0.3em 0.3em;
  }
  #ProfileBox_2_Row {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Row_Part_1 {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #ProfileBox_2_Row_Part_1_P1 {
    padding: 0.35em 0.5em;
  }
  #ProfileBox_2_Row_Part_1_P1 span {
    padding: 0.2em 0.2em;
    font-size: 0.8em;
    letter-spacing: 0.5px;
  }
  #ProfileBox_2_Row_Part_1_P1 input {
    padding: 0.4em 0.9em;
    font-size: 0.7em;
    width: 100%;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Row_Submit_Btn {
    width: 40%;
    font-size: 0.9em;
    padding: 0.2em 1em;
    margin: 1em 0em 0em 0em;
    letter-spacing: 2px;
  }
  /* 3 - Reset Password */
  #ProfileBox_2_Part_3 {
    padding: 3em 1em;
  }
  #sub_ProfileBox_2_Part_3 {
    padding: 1em 1em;
    width: 85%;
    margin: 0em auto;
  }
  #sub_ProfileBox_2_Part_3 h2 {
    letter-spacing: 1px;
    padding: 0.5em 0.5em;
    font-size: 1.5em;
    color: #001400;
  }
  #ProfileBox_2_Part_3_Input_Box {
    padding: 1.5em 0em 1.5em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #ProfileBox_2_Part_3_Input_Box label {
    font-size: 1em;
    padding: 0em 0.5em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_3_Input_Box input {
    padding: 0.2em 1em;
    width: 50%;
  }
  #ProfileBox_2_Part_3_Input_Box_2 {
    padding: 0.5em 1em;
  }
  #ProfileBox_2_Part_3_Input_Box_2 button {
    padding: 0.4em 1em;
    font-size: 1em;
    letter-spacing: 2px;
  }
  /* - */
}
/* 4 */
@media screen and (min-width: 1px) and (max-width: 600px) {
  /* 1 - Header */
  #Header {
    padding: 0.5em 0.5em;
  }
  #sub_Header {
    padding: 0.1em 0.2em;
    width: 100%;
  }
  #Head_1 {
    padding: 0.05em 0.5em;
    width: 90%;
    margin: 0em 1em;
  }
  #Head_1 p {
    padding: 0.4em 0.1em;
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  #Head_2 {
    width: 10%;
    padding: 0.05em 0.05em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sub_Head_2 {
    width: 80%;
    padding: 0.1em 0.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sub_Head_2 img {
    width: 65%;
  }
  /* 1 - Profile Heading */
  #Prof_Heading {
    padding: 1em 0.8em;
  }
  #Prof_Heading h1 {
    padding: 0.1em 0.4em;
    width: 100%;
    font-size: 1.7em;
    letter-spacing: 1.5px;
  }
  #Prof_Heading h1 i {
    padding: 0.2em 0.05em;
    font-size: 30px;
  }
  /* 2 - Main Profile Body */
  #MainProfile {
    padding: 0.3em 0em;
  }
  #subMainProfile {
    padding: 0.2em 0.2em;
  }
  #MainProfileBox {
    padding: 0.5em 0.3em;
    width: 98%;
  }
  #ProfileBox_1 {
    padding: 0.3em 0.2em;
    border-radius: 10px;
  }
  #subProfileBox_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #ProfileBox_1_O_1_B1 {
    padding: 1em 0.1em;
    width: 20%;
  }
  #ProfileBox_1_O_1_B2 {
    padding: 1em 0.1em;
    width: 20%;
  }
  #ProfileBox_1_O_1_B3 {
    padding: 1em 0.1em;
    width: 20%;
  }
  #ProfileBox_1_O_1_P {
    padding: 0em 0em;
    font-size: 0em;
  }
  #ProfileBox_1_O_1_P i {
    padding: 0em 0em;
    margin: 0em 0em 0em 0.6em;
    font-size: 18px;
  }
  #ProfileBox_2 {
    padding: 0.2em 0.5em;
    border-radius: 10px;
  }
  #ProfileBox_2_Part_1 {
    padding: 0.2em 0.5em;
  }
  #sub_ProfileBox_2_Part_1 {
    padding: 0.2em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Part_1_1 {
    padding: 0.5em 0.5em;
    width: 85%;
  }
  #sub_ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1_P1 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP {
    padding: 0.3em;
    width: 70%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP img {
    width: 100%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P2 {
    padding: 0.5em 0.5em;
  }
  #ProfileBox_2_Part_1_1_P2 p {
    padding: 1em 1em;
    font-size: 0.9em;
    letter-spacing: 1.5px;
  }
  #ProfileBox_2_Part_1_2 {
    padding: 0.3em 0.1em;
    width: 100%;
  }
  #ProfileBox_2_Input_Box_1 {
    padding: 0.47em 1.2em;
    width: 25%;
    letter-spacing: 0.5px;
    font-size: 0.72em;
  }
  #ProfileBox_2_Input_Box_2 {
    padding: 0.46em 1em;
    width: 5%;
    font-size: 0.72em;
  }
  #ProfileBox_2_Input_Box_3 {
    padding: 0.46em 0.5em;
    width: 70%;
    font-size: 0.72em;
    letter-spacing: 2px;
  }
  #ProfileBox_2_Input_Box_3_E {
    padding: 0.5em 0em 0.5em 0.5em;
    width: 70%;
    font-size: 0.7em;
    letter-spacing: 0px;
  }
  #ProfileBox_2_Input_Box_1_W {
    padding: 0.5em 1.5em;
    width: 25%;
    letter-spacing: 0.5px;
    font-size: 0.72em;
  }
  #ProfileBox_2_Input_Box_2_W {
    padding: 0.5em 1em;
    width: 5%;
    font-size: 0.72em;
  }
  #ProfileBox_2_Input_Box_3_W {
    padding: 0.5em 0.5em;
    width: 70%;
    font-size: 0.72em;
    letter-spacing: 0.5.5px;
  }
  /* 3 - Edit Profile Page  */
  #ProfileBox_2_Part_2 {
    padding: 0.3em 0.3em;
  }
  #sub_ProfileBox_2_Part_2 {
    padding: 0.3em 0.3em;
  }
  #ProfileBox_2_Sec_Part_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: row;
  }
  #ProfileBox_2_Sec_Part_1_P1 {
    padding: 0.3em 0.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box {
    padding: 0.3em 0.3em;
    width: 50%;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box i {
    padding: 0.1em 0.1em;
    font-size: 30px;
  }
  #ProfileBox_2_Sec_Part_1_P2 {
    padding: 0.3em 1em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #ProfileBox_2_Sec_Part_1_P2_Box {
    padding: 0.3em 0em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx {
    padding: 0.3em 0.1em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #PrBx_2_Sec_Part_1_P2_Box {
    padding: 0.05em 0.1em;
    width: 12vw;
  }
  #PrBx_2_Sec_Part_1_P2_BxBtn {
    padding: 0.1em 0em;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx button {
    padding: 0.2em 0.75em;
    font-size: 0.75em;
  }
  #ProfileBox_2_Sec_Part_2 {
    padding: 0.3em 0.3em;
  }
  #ProfileBox_2_Row {
    padding: 0.3em 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Row_Part_1 {
    padding: 0.3em 0.3em;
    width: 95%;
  }
  #ProfileBox_2_Row_Part_1_P1 {
    padding: 0.35em 0.5em;
  }
  #ProfileBox_2_Row_Part_1_P1 span {
    padding: 0.2em 0.2em;
    font-size: 0.8em;
    letter-spacing: 0.5px;
  }
  #ProfileBox_2_Row_Part_1_P1 input {
    padding: 0.4em 0.9em;
    font-size: 0.7em;
    width: 100%;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Row_Submit_Btn {
    width: 80%;
    font-size: 0.9em;
    padding: 0.2em 1em;
    margin: 1em 0em 0em 0em;
    letter-spacing: 2px;
  }
  /* 3 - Reset Password */
  #ProfileBox_2_Part_3 {
    padding: 2.2em 1em;
  }
  #sub_ProfileBox_2_Part_3 {
    padding: 1em 1em;
    width: 85%;
    margin: 0em auto;
  }
  #sub_ProfileBox_2_Part_3 h2 {
    letter-spacing: 1px;
    padding: 0.4em 0.5em;
    font-size: 1.5em;
    color: #001400;
  }
  #ProfileBox_2_Part_3_Input_Box {
    padding: 1.5em 0em 1.5em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #ProfileBox_2_Part_3_Input_Box label {
    font-size: 1em;
    padding: 0em 0.5em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_3_Input_Box input {
    padding: 0.2em 1em;
    margin: 0.5em 0em 0em 0.5em;
    width: 90%;
  }
  #ProfileBox_2_Part_3_Input_Box_2 {
    padding: 0.5em 1em;
  }
  #ProfileBox_2_Part_3_Input_Box_2 button {
    padding: 0.4em 1em;
    font-size: 1em;
    letter-spacing: 2px;
  }
  /* - */
}
/* 4 */
@media screen and (min-width: 1px) and (max-width: 400px) {
  /* 1 - Header */
  #Header {
    padding: 0.3em 0.1em;
  }
  #sub_Header {
    padding: 0.1em 0.1em;
    width: 100%;
  }
  #Head_1 {
    padding: 0.05em 0.5em;
    width: 90%;
    margin: 0em 1em;
  }
  #Head_1 p {
    padding: 0.4em 0.1em;
    font-size: 0.88em;
    letter-spacing: 1px;
  }
  #Head_2 {
    width: 11%;
    padding: 0em 0.3em 0.05em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sub_Head_2 {
    width: 90%;
    padding: 0.5em 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sub_Head_2 img {
    width: 95%;
  }
  /* 1 - Profile Heading */
  #Prof_Heading {
    padding: 1em 0.2em;
  }
  #Prof_Heading h1 {
    padding: 0.1em 0em;
    width: 100%;
    font-size: 1.3em;
    letter-spacing: 1.5px;
  }
  #Prof_Heading h1 i {
    padding: 0.2em 0.05em;
    font-size: 23px;
  }
  /* 2 - Main Profile Body */
  #MainProfile {
    padding: 0.3em 0em;
  }
  #subMainProfile {
    padding: 0.2em 0.1em;
  }
  #MainProfileBox {
    padding: 0.5em 0.1em;
    width: 100%;
  }
  #ProfileBox_1 {
    padding: 0.3em 0.2em;
    border-radius: 10px;
  }
  #subProfileBox_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #ProfileBox_1_O_1_B1 {
    padding: 1em 0.1em;
    width: 20%;
  }
  #ProfileBox_1_O_1_B2 {
    padding: 1em 0.1em;
    width: 20%;
  }
  #ProfileBox_1_O_1_B3 {
    padding: 1em 0.1em;
    width: 20%;
  }
  #ProfileBox_1_O_1_P {
    padding: 0em 0em;
    font-size: 0em;
  }
  #ProfileBox_1_O_1_P i {
    padding: 0em 0em;
    margin: 0em 0em 0em 0.9em;
    font-size: 12px;
  }
  #ProfileBox_2 {
    padding: 0.2em 0em;
    border-radius: 10px;
  }
  #ProfileBox_2_Part_1 {
    padding: 0.2em 0.1em;
  }
  #sub_ProfileBox_2_Part_1 {
    padding: 0.2em 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Part_1_1 {
    padding: 0.5em 0.5em;
    width: 95%;
  }
  #sub_ProfileBox_2_Part_1_1 {
    padding: 0.2em 1em;
  }
  #ProfileBox_2_Part_1_1_P1 {
    padding: 1em 1em;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP {
    padding: 0.3em;
    width: 70%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P1_ImgP img {
    width: 100%;
    border-radius: 50%;
  }
  #ProfileBox_2_Part_1_1_P2 {
    padding: 0.5em 0.5em;
  }
  #ProfileBox_2_Part_1_1_P2 p {
    padding: 1em 1em;
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_1_2 {
    padding: 0.3em 0.1em;
    width: 100%;
  }
  #ProfileBox_2_Input_Box_1 {
    padding: 0.47em 0.7em;
    width: 25%;
    letter-spacing: 0px;
    font-size: 0.6em;
  }
  #ProfileBox_2_Input_Box_2 {
    padding: 0.46em 1em;
    width: 5%;
    font-size: 0.6em;
  }
  #ProfileBox_2_Input_Box_3 {
    padding: 0.46em 0.5em;
    width: 70%;
    font-size: 0.6em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Input_Box_3_E {
    padding: 0.5em 0em 0.5em 0.5em;
    width: 70%;
    font-size: 0.6em;
    letter-spacing: 0.2px;
  }
  #ProfileBox_2_Input_Box_1_W {
    padding: 0.5em 0.5em;
    width: 25%;
    letter-spacing: 0px;
    font-size: 0.6em;
  }
  #ProfileBox_2_Input_Box_2_W {
    padding: 0.5em 1em;
    width: 5%;
    font-size: 0.6em;
  }
  #ProfileBox_2_Input_Box_3_W {
    padding: 0.5em 0.5em;
    width: 70%;
    font-size: 0.6em;
    letter-spacing: 0.5px;
  }
  /* 3 - Edit Profile Page  */
  #ProfileBox_2_Part_2 {
    padding: 0.3em 0.3em;
  }
  #sub_ProfileBox_2_Part_2 {
    padding: 0.3em 0.3em;
  }
  #ProfileBox_2_Sec_Part_1 {
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Sec_Part_1_P1 {
    padding: 1em 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box {
    padding: 0.3em 0.3em;
    width: 100%;
  }
  #ProfileBox_2_Sec_Part_1_P1_Box i {
    padding: 0.1em 0.1em;
    font-size: 30px;
    display: block;
    margin: 0em auto;
    text-align: center;
  }
  #ProfileBox_2_Sec_Part_1_P2 {
    padding: 1em 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #ProfileBox_2_Sec_Part_1_P2_Box {
    padding: 0.3em 0em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx {
    padding: 0.3em 0.1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #PrBx_2_Sec_Part_1_P2_Box {
    padding: 0.05em 0.1em;
    width: 30vw;
  }
  #PrBx_2_Sec_Part_1_P2_BxBtn {
    padding: 0.1em 0em;
  }
  #sub_ProBx_2_Sc_Prt_1_P2_Bx button {
    padding: 0.2em 1em;
    font-size: 0.9em;
  }
  #ProfileBox_2_Sec_Part_2 {
    padding: 0.3em 0.1em;
  }
  #ProfileBox_2_Row {
    padding: 0.3em 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ProfileBox_2_Row_Part_1 {
    padding: 0.3em 0.1em;
    width: 95%;
  }
  #ProfileBox_2_Row_Part_1_P1 {
    padding: 0.35em 0.2em;
  }
  #ProfileBox_2_Row_Part_1_P1 span {
    padding: 0.2em 0.2em;
    font-size: 0.75em;
    letter-spacing: 0.5px;
  }
  #ProfileBox_2_Row_Part_1_P1 input {
    padding: 0.4em 0.9em;
    font-size: 0.7em;
    width: 100%;
    letter-spacing: 0px;
  }
  #ProfileBox_2_Row_Submit_Btn {
    width: 100%;
    font-size: 0.85em;
    padding: 0.2em 0em;
    margin: 1em 0em 0em 0em;
    letter-spacing: 1.5px;
  }
  /* 3 - Reset Password */
  #ProfileBox_2_Part_3 {
    padding: 3.1em 0.3em;
  }
  #sub_ProfileBox_2_Part_3 {
    padding: 1em 0.2em;
    width: 100%;
    margin: 0em auto;
  }
  #sub_ProfileBox_2_Part_3 h2 {
    letter-spacing: 0.5px;
    padding: 0.4em 0em 0.4em 0.5em;
    font-size: 1.1em;
    color: #001400;
  }
  #ProfileBox_2_Part_3_Input_Box {
    padding: 2.4em 0em 1.5em 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #ProfileBox_2_Part_3_Input_Box label {
    font-size: 1em;
    padding: 0em 0.5em;
    letter-spacing: 1px;
  }
  #ProfileBox_2_Part_3_Input_Box input {
    padding: 0.2em 0.2em;
    margin: 0.6em 0em 0em 0.5em;
    width: 90%;
  }
  #ProfileBox_2_Part_3_Input_Box_2 {
    padding: 0.8em 0.5em;
  }
  #ProfileBox_2_Part_3_Input_Box_2 button {
    padding: 0.45em 1em;
    font-size: 0.75em;
    letter-spacing: 1px;
  }
  /* - */
}

/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
#Pic_Area {
  border: 1px solid red;
  padding: 1em;
  width: 15%;
  background-color: lightblue;
}
#Pic_Area img {
  border: 1px solid red;
  width: 100%;
}
#Name {
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
  width: 15%;
  padding: 1em 0em;
}
#Edit_Profile_Btn {
  margin: 1em;
  padding: 1em;
  background-color: blue;
  color: white;
  font-weight: bold;
}
/* ----------------------------- */
